.card {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-image {
    padding: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-content {
    padding: 1.25rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1f2937;
}


.card-price {
    font-size: 1.875rem;
    font-weight: 700;
    color: #1f2937;
}
